<header>
	<a href="{{extraDomain}}/" class="logo">Video Streamer </a>
	<div class="navbar">
		<ul class="header-menu">
			{{#if user.loggedIn}}
				<li>
					<a href="{{extraDomain}}/logout">Déconnexion</a>
				</li>
			{{else}}
				<li>
					<a href="{{extraDomain}}/register">Inscription</a>
				</li>
				<li>
					<a href="{{extraDomain}}/login">Connexion</a>
				</li>
			{{/if}}
		</ul>
		{{#if user.loggedIn}}
			<p>Bonjour {{user.username}}</p>
		{{/if}}
	</div>
</header>